LOG_LEVEL 50\
MEETBOT_TOKEN "TOKEN"\
MEETBOT_DATABASE "DATABASE"\
MEETBOT_DATABASE_USERNAME "USER"\
MEETBOT_DATABASE_PASSWORD "PASSWORD"\
MEETBOT_DATABASE_HOST "my.database.host.com"\
MEETBOT_DATABASE_PORT 1234