LOG_LEVEL=50
MEETBOT_TOKEN=TOKEN
MEETBOT_DATABASE=DATABASE
MEETBOT_DATABASE_USERNAME=USER
MEETBOT_DATABASE_PASSWORD=PASSWORD
MEETBOT_DATABASE_HOST=my.database.host.com
MEETBOT_DATABASE_PORT=1234
MEETBOT_ANNOUNCE_CHANNEL=123456789
MEETBOT_COMMAND_CHANNEL=123456789